body {
    font-family: 'Poppins', sans-serif;
	background-image: url('../images/summer.jpg');
    background-size: cover;
    background-position: center;
    color: #e67e22;
}

.season-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

header nav a {
	color: #e67e22;
}

header {
	text-align: center;
	font-size: 17px;
}